backend/.env
/backend/__pycache__
/backend/api/endpoints/__pycache__
/backend/uploads
/backend/modules/kpi_generation/__pycache__
/backend/services/__pycache__
/backend/utils/__pycache__
*.pyc
*.pyc
backend/.env
